* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 0;
}

body {
  background-color: #f9f9f9;
}

.base-container {
  width: 1060px;
  box-shadow: 0 0 2px #dbdbdb;
  background-color: white;
  margin: 0 auto;
}

.base-header {
  height: 170px;
  padding-top: 47px;
  box-sizing: border-box;
}

.logo {
  margin-left: 46px;
}

.header-menu, .footer-menu {
  width: 966px;
  height: 40px;
  margin: auto;
  margin-top: 38px;
  background-color: #4e4d4d;
}

.header-menu__list-wrapper, .footer-menu__list-wrapper {
  list-style: none;
  display: inline-block;
}

.header-menu__list-element, .footer-menu__list-element {
  display: inline-block;
}

.header-menu__list-elemment-href {
  display: inline-block;
  text-decoration: none;
  color: white;
  line-height: 40px;
  height: 40px;
  border-left: 1px solid #4e4d4d;
  border-right: 1px solid #4e4d4d;
  padding: 0 24px 0 24px;
  margin: 0 50px 0 0px;
  box-sizing: border-box;
  font: 14px/40px Open Sans, sans-serif;
}

.header-menu__list-elemment-href:hover {
  content: "";
  background-color: #444444;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}

.base-main {
  margin-top: 40px;
}

.main-menu {
  display: inline-table;
  width: 240px;
  height: 240px;
  margin-left: 46px;
  box-sizing: border-box;
  vertical-align: top;
  border-collapse: collapse;
}

.main-menu__row-wrapper {
  display: table-row;
  border: 1px solid #c8c8c8;
  border-collapse: collapse;
}

.main-menu__elements {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  padding-left: 24px;
  font: 13px/37px "Open Sans", Arial, sans-serif;
  text-decoration: none;
  color: #2c2c2c;
}

.main-menu__elements:hover {
  content: "";
  padding-left: 34px;
  background-color: #f9f9f9;
}

.main-content {
  width: 680px;
  display: inline-block;
  margin-left: 48px;
  vertical-align: top;
}

.main-content__img-container {
  width: 680px;
  display: block;
}

.main-content__description {
  display: block;
  width: 680px;
  font: 13px/21px "Open Sans", sans-serif;
  color: #2c2c2c;
}

.base-footer {
  padding-bottom: 60px;
}

.footer-menu {
  width: 966px;
  height: 41px;
  background-color: #e1e1e1;
}

.footer-menu__list-elemment-href {
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
  height: 40px;
  border-left: 1px solid #4e4d4d;
  border-right: 1px solid #4e4d4d;
  padding: 0 24px 0 24px;
  margin: 0 50px 0 0px;
  box-sizing: border-box;
  border: 0;
  color: #2c2c2c;
  font: 13px/40px "Open Sans", sans-serif;
}

.footer-menu__list-elemment-href:hover {
  text-decoration: underline;
}
