* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #f9f9f9;
}

.base-container {
  width: 1060px;
  box-shadow: 0 0 2px #dbdbdb;
  background-color: white;
  margin: 0 auto;
}

.base-header {
  height: 170px;
  padding-top: 47px;
  box-sizing: border-box;
}

.logo {
  margin-left: 46px;
}

.header-menu {
  width: 966px;
  height: 40px;
  margin: auto;
  margin-top: 38px;
  background-color: #4e4d4d;
}

.header-menu__list-wrapper {
  list-style: none;
  display: inline-block;
}

.header-menu__list-element {
  display: inline-block;
}

.header-menu__list-element :hover {
  content: "";
  background-color: #444444;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  box-sizing: border-box;
}

.header-menu__list-elemment-href {
  display: inline-block;
  text-decoration: none;
  color: white;
  line-height: 40px;
  height: 40px;
  border-left: 1px solid #4e4d4d;
  border-right: 1px solid #4e4d4d;
  padding: 0 24px 0 24px;
  margin: 0 50px 0 0px;
  box-sizing: border-box;
  font: 14.67px/40px Open Sans, sans-serif;
}

.base-main {
  width: 966px;
  height: 585px;
  margin-top: 40px;
}

.main-menu {
  display: inline-block;
  width: 240px;
  height: 240px;
  box-sizing: border-box;
  vertical-align: top;
}

.main-menu__elements {
  display: block;
}

.main-content {
  display: inline-block;
  vertical-align: top;
  width: 680px;
}

.main-content__img-container {
  display: inline-block;
}

.main-content__description {
  display: inline-block;
  width: 680px;
}

.footer-menu {
  width: 966px;
  height: 41px;
  background-color: #e1e1e1;
}
